# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Devoir2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\nonoa\Documents\ISEN\M1\S2\Programmation 3D\Devoir2\.idea\.idea.Devoir2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
